*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,#3a7bd5 ,#3a6073);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size:1.5rem;
}

header,form{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 20vh;
}

form input,form button{
    padding:0.5rem;
    font-size: 2rem;
    border: none;
    background:whitesmoke;
}

form button{
    color:#3a7bd5;
    background:whitesmoke;
    cursor:pointer;
    transition: all 0.3 sec ease;
}

form button:hover{
    background:#3a6073;
    color:whitesmoke;
}